# Generate with: openssl rand -hex 32

# FastAPI

API_DB_PASSWORD=
FASTAPI_ACTIVEPIECES_API_KEY=

# Postgres

POSTGRES_PASSWORD=

# Random Long Password (Optional for community edition)
AP_API_KEY=

# 256 Encryption key (REQUIRED — 32 hex characters)
AP_ENCRYPTION_KEY=

# JWT secret (REQUIRED)
AP_JWT_SECRET=

AP_POSTGRES_PASSWORD=
